<tr>
  <th scope="row"><%= friend.first_name %></th>
  <td><%= friend.last_name %></td>
  <td>
    <%= link_to 'View Profile', user_path(friend), class: 'btn btn-sm btn-success' %>
    <%= link_to 'Unfriend', friend_path(friend), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
  </td>
</tr>
